.theList {
  list-style: none;
  padding-left: 0;
  width: 550;
}
.theList li {
  color: #333;
  background-color: rgb(183 98 98 / 50%);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}
ul.theList {
  padding: 0;
}

.view {
  text-align: center;
}
.toggleAll {
  width: 100px;
  height: 15px;
  top: -58px;
  left: 10px;
}

/* 
.todo-list li.editing .view {
	display: none;
}

.li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
}

.li:last-child {
	border-bottom: none;
}


.li label {
	word-break: break-all;
	padding: 15px 15px 15px 60px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.todoList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todoList li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
}

.todoList li:last-child {
	border-bottom: none;
}


.todoList li .toggle {
	text-align: center;
	width: 40px;
	
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; 
	-webkit-appearance: none;
	appearance: none;
}

.todoList li .toggle {
	opacity: 0;
}

.todoList li .toggle + label {
	
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center left;
}

.todoList li .toggle:checked + label {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.todoList li label {
	word-break: break-all;
	padding: 15px 15px 15px 60px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}



.toggleAll {
	text-align: center;
	border: none; 
	opacity: 0;
	position: absolute;
}

.toggleAll + label {
	width: 60px;
	height: 34px;
	font-size: 0;
	position: absolute;
	top: -52px;
	left: -13px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.toggleAll + label:before {
	content: '❯';
	font-size: 22px;
	color: #e6e6e6;
	padding: 10px 27px 10px 27px;
}

.toggleAll:checked + label:before {
	color: #737373;
} */
